* {
    margin: 0;
    padding: 0;
    border: 0.5px dotted pink;
    box-sizing: border-box;
}

body {
    /* background-color: red; */
    width: 1000px;
}
h1 {
    border: 5px solid black;
    /*       top, right, bottom, left */
    padding: 10px 10px 10px 10px;
    /*      top/bottom & left right */
    padding: 10px 10px;
    /* all sides */
    padding: 10px;
    /* individual */
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-radius: 15px;
}
p {
    line-height: 18pt;
}
.info p {
    display: inline-block;
    /* <p> naturally is "display: block" so it needs a width so that it doesn't go all the way side to side*/
    width: 47%;
    vertical-align: top;
}
/* .info {
    display: flex;
} */
/* select id using # */
#hero-img {
    width: 1000px;
}
/* select class using . */
.nav-link {
    color: white;
}
img.instrument-img {
    /* width: 200px; */
    /* changed to max-width because this will have image fit flush to it's parent size */
    max-width: 100%;
}
.form-info {
    display: inline-block;
}
.instrument {
    display: inline-block;
    vertical-align: top;
    width: 19%;
}
footer img {
    width: 150px;
}
/* selecting specific input types */
form input[type=text] {
    text-align: center;
}
/* tool purpose */
.center {
    text-align: center;
}