.container{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
}
.top-nav {
    height: 150px;
    background-color: green;
    margin-bottom: 15px;
}
.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
}
.main {
    height: 400px;
    width: 700px;
    background-color: red;
    display: flex;
    flex-wrap: wrap;
}
/* can consolidate to class p-15 or select the classes */
/* .p-15 {
    padding: 15px;
} */
.container, .main {
    padding: 15px;
}
.sub-content {
    height: 200px;
    width: 210px;
    background-color: yellow;
    margin-right: 15px;
}
#advertisement {
    height: 120px;
    width: 660px;
    background-color: purple;
}
.row {
    display: flex;
    justify-content: space-between;
}
/* box model question */
#element {
    width: 100px;
    height: fit-content;
    margin: 10px;
    background-color: lightblue;
    padding: 15px;
    color: white;
    border: 2px solid black;
}